@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@using ProgrammingCoursesApp.Controllers
@{
    ViewData["Title"] = "Users administration";
}

@section Styles {
    <link href="~/css/usersAdministration.css" rel="stylesheet" type="text/css" />
}

<h2 class="viewDescriptions">Users administration</h2>

<hr />
<input class="search-input" type="text" id="userNameInput" onkeyup="searchUser('userNameInput')" placeholder="Search for user name..">
<input class="search-input" type="text" id="userEmailInput" onkeyup="searchUser('userEmailInput')" placeholder="Search for email..">

<table id="users-table">
    <thead>
        <tr>
            <th>User name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Edit role</th>
            <th>Delete profile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" onclick="return deleteUser('@user.Id','@user.Email')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        var deleteAction = '@Url.Action(nameof(AdminController.DeleteUser), "Admin")';
    </script>
    
    <script src="~/js/usersAdministration.js" type="text/javascript"></script>
}