@model IEnumerable<ProgrammingCoursesApp.Models.Course>

@{
    ViewData["Title"] = "UserCourses";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2>My courses</h2>
<hr />

<div class="row row-flex">
    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="margin-top:20px">
            <div class="card">
                <div class="card-header" style="background-color:#eaf2ff">
                    <h5 class="card-title text-center text-dark" style="padding-top:5px; padding-bottom:5px; margin-bottom:0px;">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <i class="material-icons">@(item.IsOpened ? "visibility" : "visibility_off")</i>
                    <a asp-controller="Topics" asp-action="Index" asp-route-id="@item.Id" class="btn btn-outline-primary preview-button" width="150px">Preview</a>
                </div>
                <div class="card-body bg-light">
                    <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Topics" asp-action="TopicsForCreator" asp-route-id="@item.Id" class="btn btn-primary" width="150px">Topics</a>
                    <a asp-action="EditCourse" asp-route-id="@item.Id" class="btn btn-info" width="150px">Edit</a>
                    <a asp-action="DeleteCourse" asp-route-id="@item.Id" class="btn btn-danger" width="150px">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

<p class="create-course">
    <a class="btn btn-primary" asp-action="CreateCourse">Create new course</a>
</p>

<style>
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .material-icons {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #000000;
    }

    .preview-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .card-header {
        color: #d4e9eb;
        cursor: default;
    }

    .create-course {
        text-align: end;
        margin-top: 70px;
        margin-bottom: 100px;
    }
</style>