@model IEnumerable<ProgrammingCoursesApp.Models.Course>

@{
    ViewData["Title"] = "UserCourses";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2>My courses</h2>
<hr />

<div class="row row-flex">
    @foreach (var item in Model)
    {
        <div class="col-sm-6" style="margin-top:50px">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center text-dark">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <i class="material-icons">@(item.IsOpened ? "visibility" : "visibility_off")</i>
                </div>
                <div class="card-body bg-white">
                    <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="card-footer">
                        <p class="card-text text-justify">Course`s creator: @Html.DisplayFor(modelItem => item.User.UserName)</p>
                    </div>
                }
                <div class="card-footer text-center">
                    <a asp-controller="Topics" asp-action="TopicsForCreator" asp-route-id="@item.Id" class="btn btn-outline-primary" width="150px">Content</a>
                    <a asp-action="EditCourse" asp-route-id="@item.Id" class="btn btn-outline-info" width="150px">Edit description</a>
                    @if (!item.IsOpened)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete selected course?')" width="150px">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<p class="create-course">
    <a class="btn btn-primary" asp-action="CreateCourse">Create new course</a>
</p>

<style>
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .card {
        cursor: default;
        border: 1px solid #bbc3c6;
    }

    .material-icons {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #000000;
    }

    .card-title {
        font-size: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }

    .card:hover .card-header {
        background-color: #c3f2f6;
    }

    .card-header {
        font-size: 25px;
        background-color: #cfdfe0;
    }

    .create-course {
        text-align: end;
        margin-top: 70px;
        margin-bottom: 100px;
    }
</style>