@model ProgrammingCoursesApp.ViewModels.TopicsVM
@{
    ViewData["Title"] = "Topics for course " + Model.CourseName;
}

<h2>Course "@Model.CourseName" topics</h2>
<hr />

<div class="li-content">
    <ol class="topiclist">
        @foreach (var item in Model.OpenedTopics)
        {
            <li>
                <a class="topic" asp-controller="Tasks" asp-action="Index" asp-route-id="@item.Id">
                    @if (User.Identity.IsAuthenticated)
                    {
                        string percentage = Model.UserTopicsScores[item.Id].ToString() +  "%";
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @percentage" aria-valuenow="@Model.UserTopicsScores[item.Id]" aria-valuemin="0" aria-valuemax="100">@Model.UserTopicsScores[item.Id]%</div>
                        </div>
                    }
                    <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                    <span>@Html.DisplayFor(modelItem => item.Description)</span>
                </a>
            </li>
        }
    </ol>
</div>

<a class="btn btn-info back-button" asp-controller="Courses" asp-action="Index">Back to courses</a>

<style>
    .progress {
        width: 100%;
        margin-bottom: 10px;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .topiclist {
        padding: 0;
        list-style: none;
        counter-reset: li;
        width: 100%;
    }

    .li-content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .back-button {
        margin-top: 10px;
        margin-left: 10%;
        margin-bottom: 100px;
    }

    .topiclist li {
        margin-bottom: 25px;
        display: flex;
        justify-content: start;
    }

    .topiclist h5 {
        font-size: 1.35em;
    }

    .topiclist .topic {
        position: relative;
        width: 100%;
        display: block;
        padding: .8em .4em 0.7em 3em;
        background: #eef3f2;
        color: #444;
        border-radius: .3em;
        margin-bottom: 1em;
        text-decoration: none;
    }

        .topiclist .topic:hover {
            background: #cbe7f8;
        }

        .topiclist .topic:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            top: 0px;
            left: -1.5em;
            padding-top: 0.32em;
            vertical-align: middle;
            height: 3em;
            width: 3em;
            border: .3em solid #fff;
            background: #87ceeb;
            text-align: center;
            font-size: 25px;
            border-radius: 2em;
            color: #fff;
        }
</style>