@model ProgrammingCoursesApp.ViewModels.CreateOrEditTaskVM

@{
    var title = Model.IsCreation ? "Exercise creation" : "Exercise edit";

    var aspActionName = Model.IsCreation ? "CreateExerciseTask" : "EditExerciseTask";
    var routeId = Model.IsCreation ? Model.TopicId : Model.Exercise.Id;

    var possibleAnswerCount = Model.PossibleAnswers == null ? 2 : Model.PossibleAnswers.Count;

    ViewData["Title"] = title;
}

@section Styles {
    <style>
        .isCorrectBox {
            width: 20px;
            margin-left: 30%;
        }

        .questionBox {
            width: 80%;
        }
    </style>
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    var i = @possibleAnswerCount;

    function addCorrectAnswerRadioInput() {
        var table = document.getElementById("possibleAnswerItems");
        //pēdējā tabulas rinda
        var row = table.rows[table.rows.length - 1];

        //lauka pievienošana - lauks "vai ir pareizi"
        let td = document.createElement("td");
        let div = document.createElement("div");
        div.setAttribute("class", "form-group");

        let isCorrectField = document.createElement("input");
        isCorrectField.setAttribute("type", "radio");
        isCorrectField.setAttribute("id", "answer" + i);
        isCorrectField.setAttribute("value", i);
        isCorrectField.setAttribute("name", "Exercise.AnswerId");
        isCorrectField.setAttribute("class", "form-control isCorrectBox");

        //kļūdas paziņojums laukam "vai ir pareizi"
        let errorForCorrectField = document.createElement("span");
        errorForCorrectField.setAttribute("class", "text-danger field-validation-valid");
        errorForCorrectField.setAttribute("data-valmsg-for", "Exercise.AnswerId");
        errorForCorrectField.setAttribute("data-valmsg-replace", "true");

        div.appendChild(isCorrectField);
        div.appendChild(errorForCorrectField);
        td.appendChild(div);
        row.appendChild(td);
    }

    function addPossibleItemInput(event) {
        event.preventDefault();
        var tableBody = $("table#possibleAnswerItems tbody");

        if (i >= 2) {
            $('#deleteRowButton').removeAttr('hidden');
        }

        var nextIndex = $("table#possibleAnswerItems tbody tr").length;
        $.validator.unobtrusive.parse($('form'));  //added
        $.ajax({
            url: '@Url.Action(nameof(TasksController.AddPossibleAnswer), "Tasks")',
            type: 'POST',
            async: false,
            data: { index: nextIndex },
            success: function (results) {
                tableBody.append(results);
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                addCorrectAnswerRadioInput();
            }
        });

        i++;
    }

    //dzēst atbildes variantu
    function removePossibleItemInput(event) {
        event.preventDefault();
        var table = document.getElementById("possibleAnswerItems");
        table.deleteRow(-1); //dzēst pēdējo rindu tabulā

        i--;

        if (i == 2) {
            $('#deleteRowButton').attr("hidden", true);
        }
    }

</script>

<h2 class="viewDescriptions">@title</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="@aspActionName" asp-route-id="@routeId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!Model.IsCreation)
            {
                <input type="hidden" asp-for="Exercise.Id" />
                <input type="hidden" asp-for="Exercise.TopicBlockId" />
            }
            <div class="form-group">
                <label asp-for="Exercise.Name" class="control-label"></label>
                <input asp-for="Exercise.Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Exercise.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.QuestionText" class="control-label"></label>
                <input asp-for="Exercise.QuestionText" class="form-control" autocomplete="off" />
                <span asp-validation-for="Exercise.QuestionText" class="text-danger"></span>
            </div>

            <table class="form-group" id="possibleAnswerItems" width="100%">
                @for (int itemIndex = 0; itemIndex < possibleAnswerCount; itemIndex++)
                {
                    <tr class="form-group">
                        <td class="questionBox">
                            <input type="hidden" asp-for="PossibleAnswers[itemIndex].Id" />
                            <div class="form-group">
                                <textarea asp-for="PossibleAnswers[itemIndex].Text" class="form-control" rows="2" autocomplete="off"></textarea>
                                <span asp-validation-for="PossibleAnswers[itemIndex].Text" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="radio"
                                       id="answer@(itemIndex)"
                                       asp-for="Exercise.AnswerId"
                                       value="@itemIndex"
                                       class="form-control isCorrectBox" 
                                       checked="@(Model.PossibleAnswers != null && Model.PossibleAnswers[itemIndex].IsCorrect ? true : false)"/>
                                <span asp-validation-for="Exercise.AnswerId" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                }
            </table>

            <div class="form-group">
                <button class="btn btn-primary" onclick="addPossibleItemInput(event)">Add possible answer</button>
                <button class="btn btn-danger" id="deleteRowButton" onclick="removePossibleItemInput(event)" @(possibleAnswerCount <= 2 ? "hidden" : null)>Remove possible answer</button>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Points" class="control-label"></label>
                <input asp-for="Exercise.Points" class="form-control" />
                <span asp-validation-for="Exercise.Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="TasksForCoursesCreator" asp-route-id="@Model.TopicId">Back to tasks</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}