@model ProgrammingCoursesApp.ViewModels.TasksVM

@{
    ViewData["Title"] = "Topic " + Model.TopicName;
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-tabs a").on('show.bs.tab', function (e) {
            if (!$(this).hasClass('exercise')) {
                var tabId = $(this).attr("id");
                var targetId = $(this).attr("data-bs-target");
                setAsReaded(tabId, targetId);
            }
        });

        $(".nav-tabs a:first-child").tab('show');
    })

    function showNextTab(currentTabId) {
        $("#tab" + currentTabId).next().tab('show');
    }

    function setAsReaded(id, targetId) {
        if (!$('#' + id).hasClass('readed')) {
            $('#' + id).addClass('readed');
        }

        $(targetId + "-input").val(true);
    }

    function getResult(correctId, event) {
        event.preventDefault();
        var currentTab = $('.nav-tabs a.active');

        if (!currentTab.hasClass('readed')) {
            currentTab.addClass('readed');
        }

        let target = currentTab.attr("data-bs-target");
        var checkedAnswerId = $(target + ' input:checked').attr('id');

        let isCorrect = checkedAnswerId == correctId;

        if (isCorrect && currentTab.hasClass('canImproveResult')) {
            currentTab.removeClass('canImproveResult');
        } else if (checkedAnswerId != correctId && !currentTab.hasClass('canImproveResult')) {
            currentTab.addClass('canImproveResult');
        }

        if ($(target + ' button.answer').text() == 'Try again')
        {
            $(target + ' div.resultBox').attr('hidden', true);
            $(target + ' input:checked').prop("checked", false);
            $(target + ' input[type=radio]').prop('disabled', false);
            $(target + ' button.answer').html('Answer the question');
        }
        else //Answer the question
        {
            $(target + ' div.resultBox').removeAttr('hidden');
            $(target + ' input[type=radio]:not(:checked)').prop('disabled', true);

            if (isCorrect) {
                if ($(target + ' div.resultBox').hasClass('incorrectResult')) {
                    $(target + ' div.resultBox').removeClass('incorrectResult');
                }
                $(target + ' div.resultBox').html('<b>Answer</b>: Your answer is correct!');
                $(target + ' div.resultBox').addClass('correctResult');
            }
            else
            {
                $(target + ' div.resultBox').html('<b>Answer</b>: Your answer is not correct.');
                $(target + ' div.resultBox').addClass('incorrectResult');
            }

            $(target + ' button.answer').html('Try again');

            var tabId = $(".nav-tabs a.active").attr("id");
            var targetId = $(".nav-tabs a.active").attr("data-bs-target");

            setAsReaded(tabId, targetId);
        }
    }
</script>

<h2>@Model.TopicName</h2>

@if (Model.Blocks.Count() == 0)
{
    <div class="tab-content">
        This topic does not contain any task.
    </div>
    <div class="buttons-panel">
        <a class="btn btn-info" asp-controller="Topics" asp-action="Index" asp-route-id="@Model.CourseId">Back to topics</a>
    </div>
}
else
{
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            @foreach (var topicBlock in Model.Blocks)
            {
                <a class="nav-link nav-tab-link @(topicBlock.IsViewed ? "readed" : null)
                    @((topicBlock.IsViewed && topicBlock.UserScore != topicBlock.TopicBlock.Points) ? "canImproveResult" : null)
                    @(topicBlock.TopicBlock.Task.GetType() == typeof(Exercise) ? "exercise" : null)"

                    data-bs-toggle="tab" role="tab"
                    data-bs-target="#topic@(topicBlock.TopicBlock.Id)" id="tab@(topicBlock.TopicBlock.Id)">

                    @if (topicBlock.TopicBlock.Task.GetType() == typeof(VideoTask))
                    {<span>Video</span> }
                    else if (topicBlock.TopicBlock.Task.GetType() == typeof(ReadTask))
                    { <span>Reading</span> }
                    else
                    { <span>Exercise</span>}
                </a>
            }
        </div>
    </nav>
    <form asp-action="SubmitTopicResult" asp-route-courseId="@Model.CourseId">
        <div class="tab-content">
            @for(int i = 0; i < Model.Blocks.Count; i++)
            {
                var block = Model.Blocks[i];
                <div id="topic@(block.TopicBlock.Id)" class="tab-pane" role="tabpanel">
                    <input asp-for="Blocks[i].TopicBlock.Id" value="@Model.Blocks[i].TopicBlock.Id" type="hidden" />
                    <input id="topic@(block.TopicBlock.Id)-input" asp-for="Blocks[i].IsViewed" value="@Model.Blocks[i].IsViewed" type="hidden" />
                    
                    <box class="points-box">Points: @block.TopicBlock.Points</box>

                    @if (block.TopicBlock.Task.GetType() == typeof(ReadTask))
                    {
                        var task = (ReadTask)block.TopicBlock.Task;
                        <div class="read-content task-content">
                            <h4>@task.Name</h4>
                            <div>@Html.Raw(task.Text)</div>
                        </div>
                    }
                    else if (block.TopicBlock.Task.GetType() == typeof(VideoTask))
                    {
                        var task = (VideoTask)block.TopicBlock.Task;
                        <div class="task-content">
                            <h4>@task.Name</h4>
                        </div>
                        <div class="video-content task-content">
                            <iframe src="@task.Link"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    }
                    else   //uzdevums
                    {
                        var task = (Exercise)block.TopicBlock.Task;
                        <div class="exercise-content task-content">
                            @if (!string.IsNullOrEmpty(task.QuestionText))
                            {
                                <h4>@task.Name</h4>
                            }

                            <h4>@task.QuestionText</h4>

                            <div id="answers-@task.Id">
                                @foreach (var answer in block.PossibleAnswers)
                                {
                                    <input type="radio" id="@answer.Id" asp-for="Blocks[i].SelectedAnswer" value="@answer.Id" />
                                    <label for="@answer.Id" class="answer-label">@answer.Text</label><br />
                                }

                                @if (block.SelectedAnswer != null)
                                {
                                    <div class="resultBox @(block.SelectedAnswer == block.CorrectAnswerId ? "correctResult" : "incorrectResult")">
                                        <span><b>Answer</b>: Your answer is @(block.SelectedAnswer == block.CorrectAnswerId ? "correct!" : "not correct.") </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="resultBox" hidden></div>
                                }

                                <button class="btn btn-success answer" onclick="getResult(@block.CorrectAnswerId, event)">
                                    @(block.SelectedAnswer == null ? "Answer the question" : "Try again")
                                </button>
                            </div>
                        </div>
                    }

                    <div class="buttons-panel">
                        <a class="btn btn-info" asp-controller="Topics" asp-action="Index" asp-route-id="@Model.CourseId" onclick="return confirm('Are you sure you want to return back to course topics? Your new score will not be saved!')">Back to topic</a>

                        <button type="submit" id="submit-tasks" class="btn btn-success">Save progress and return to topic</button>

                        @if (i < Model.Blocks.Count - 1)
                        {
                            <a id="next-button" class="btn btn-info" onclick="showNextTab(@block.TopicBlock.Id)">Next task</a>
                        }
                    </div>
                </div>
            }
        </div>
    </form>
}

<style>

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .points-box {
        border: 2px solid rebeccapurple;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        padding: 10px;
        position: relative;
        top: 25px;
        font-size: 1.1em;
        font-weight: 700;
        left: 80%;
    }

    .empty-tab {
        margin-bottom: 40px;
    }

    .nav-tab-link {
        font-size: 18px;
        margin-right: 5px;
        color: #1234d5;
        cursor: default;
    }

    .resultBox {
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 10px 0px 10px 30px;
        box-shadow: 10px 10px 5px 2px rgb(0 0 255 / 20%);
    }

    .correctResult {
        background-color: rgb(144,238,144,0.4);
    }

    .incorrectResult {
        background-color: #e9c8c8;
    }

    .answer-label {
        margin-left: 10px;
    }

    h4 {
        margin-bottom: 20px;
    }

    .task-content {
        font-size: 18px;
        width: 70%;
        margin-top: 10px;
    }

    .video-content {
        overflow: hidden;
        position: relative;
        padding-top: 38.76%;
    }

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .buttons-panel {
        margin-top: 70px;
        margin-bottom: 100px;
    }

    #next-button {
        color: white;
        float: right;
        margin-right: 1%;
    }

    #submit-tasks {
        float: right;
        margin-right: 10%;
    }

    .readed {
        background-color: powderblue;
        color: #000;
    }

    .canImproveResult {
        background-color: #e9c8c8;
        color: #000;
    }

    label {
        display: inline;
    }

    .answer {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50%;
        color: white !important;
    }

    .nav-tab-link.active {
        background-color: whitesmoke !important;
    }
</style>