@model ProgrammingCoursesApp.ViewModels.TasksVM

@{
    ViewData["Title"] = "Topic " + Model.TopicName;
}

@section Styles {
    <link href="~/css/tasksCommon.css" rel="stylesheet" type="text/css" />
    <link href="~/css/tasksIndex.css" rel="stylesheet" type="text/css" />
}

<h2 class="viewDescriptions">@Model.TopicName</h2>

@if (Model.Blocks == null || !Model.Blocks.Any())
{
    <div class="tab-content">
        This topic does not contain any task.
    </div>
    <div class="buttons-panel">
        <a class="btn btn-info" asp-controller="Topics" asp-action="Index" asp-route-id="@Model.CourseId">Back to topics</a>
    </div>
}
else
{
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            @foreach (var topicBlock in Model.Blocks)
            {
                <a class="nav-link nav-tab-link @(topicBlock.IsViewed ? "readed" : null)
                    @((topicBlock.IsViewed && topicBlock.UserScore != topicBlock.TopicBlock.Points) ? "canImproveResult" : null)
                    @(topicBlock.TopicBlock.Task.GetType() == typeof(Exercise) ? "exercise" : null)"

                    data-bs-toggle="tab" role="tab"
                    data-bs-target="#topic@(topicBlock.TopicBlock.Id)" id="tab@(topicBlock.TopicBlock.Id)">

                    @if (topicBlock.TopicBlock.Task.GetType() == typeof(VideoTask))
                    {<span>Video</span> }
                    else if (topicBlock.TopicBlock.Task.GetType() == typeof(ReadTask))
                    { <span>Reading</span> }
                    else
                    { <span>Exercise</span>}
                </a>
            }
        </div>
    </nav>
    <form asp-action="SubmitTopicResult" asp-route-courseId="@Model.CourseId">
        <div class="tab-content">
            @for(int i = 0; i < Model.Blocks.Count; i++)
            {
                var block = Model.Blocks[i];
                <div id="topic@(block.TopicBlock.Id)" class="tab-pane" role="tabpanel">
                    <input asp-for="Blocks[i].TopicBlock.Id" value="@Model.Blocks[i].TopicBlock.Id" type="hidden" />
                    <input id="topic@(block.TopicBlock.Id)-input" asp-for="Blocks[i].IsViewed" value="@Model.Blocks[i].IsViewed" type="hidden" />
                    
                    <box class="points-box">Points: @block.TopicBlock.Points</box>

                    @if (block.TopicBlock.Task.GetType() == typeof(ReadTask))
                    {
                        var task = (ReadTask)block.TopicBlock.Task;
                        <div class="read-content task-content">
                            <h4 class="task-name">@task.Name</h4>
                            <div>@Html.Raw(task.Text)</div>
                        </div>
                    }
                    else if (block.TopicBlock.Task.GetType() == typeof(VideoTask))
                    {
                        var task = (VideoTask)block.TopicBlock.Task;
                        <div class="task-content">
                            <h4 class="task-name">@task.Name</h4>
                        </div>
                        <div class="video-content task-content">
                            <iframe src="@task.Link"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    }
                    else   //uzdevums
                    {
                        var task = (Exercise)block.TopicBlock.Task;
                        <div class="exercise-content task-content">
                            @if (!string.IsNullOrEmpty(task.QuestionText))
                            {
                                <h4 class="task-name">@task.Name</h4>
                            }

                            <h4 class="task-name">@task.QuestionText</h4>

                            <div id="answers-@task.Id">
                                @foreach (var answer in block.PossibleAnswers)
                                {
                                    <input type="radio" id="@answer.Id" asp-for="Blocks[i].SelectedAnswer" value="@answer.Id" />
                                    <label for="@answer.Id" class="answer-label">@answer.Text</label><br />
                                }

                                @if (block.IsViewed)
                                {
                                    <div class="resultBox @(block.SelectedAnswer == block.CorrectAnswerId ? "correctResult" : "incorrectResult")">
                                        <span><b>Answer</b>: Your answer is @(block.SelectedAnswer == block.CorrectAnswerId ? "correct!" : "not correct.") </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="resultBox" hidden></div>
                                }

                                <button class="btn btn-success answer" onclick="getResult(@block.CorrectAnswerId, event)">@(!block.IsViewed ? "Answer the question" : "Try again")</button>
                            </div>
                        </div>
                    }

                    <div class="buttons-panel">
                        <a class="btn btn-info" asp-controller="Topics" asp-action="Index" asp-route-id="@Model.CourseId" onclick="return confirm('Are you sure you want to return back to course topics? Your new score will not be saved!')">Back to topics</a>

                        <button type="submit" id="submit-tasks" class="btn btn-success">Save progress</button>

                        @if (i < Model.Blocks.Count - 1)
                        {
                            <a id="next-button" class="btn btn-info" onclick="showNextTab(@block.TopicBlock.Id)">Next task</a>
                        }
                    </div>
                </div>
            }
        </div>
    </form>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="~/js/tasksIndex.js" type="text/javascript"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}